<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>NIXMLimitHoldem</title>
	<link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="node_modules/datatables/media/css/jquery.dataTables.min.css">

</head>

<body>
	<header>

		NIXMLimitHoldem
	</header>



	<div class="row" id="app">
		<!-- Chat on the left -->
		<div class="chat-container col s2">
			<div class="chat">
				<header>
					Global Chat
				</header>


				<div class="chatmessages">
					<ul id="messages">
						<!-- [Server] : Bienvenue sur le chat -->
						<li v-for="message in messages">{{message}}</li>
					</ul>
				</div>

				<form action="" method="post">

						<div class="input-field col s12">
								<input type="text" id="msgtextarea" class="materialize-textarea" data-length="140" required>
								<label for="msgtextarea">Message</label>
							  </div>
					<button class="waves-effect waves-light btn">Send</button>
			


				</form>
			</div>
		
		
		
		</div>
		<div class="servers col s4 m8">

			<header>Local Servers</header>

			<table>
				<thead>
					<tr>
						<th>Start</th>
						<th>Name</th>
						<th>Game Mode</th>
						<th>Buy-in</th>
						<th>Dotation</th>
						<th>Players</th>
						<th>Status</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="server in servers">
						<td>{{server.Start}}</td>
						<td>{{server.Name}}</td>
						<td>{{server.GameMode}}</td>
						<td>{{server.Price}}</td>
						<td>{{server.Dotation}}</td>
						<td>{{server.Players}}</td>
						<td>{{server.Status}}</td>
						
					</tr>
					




				</tbody>
			</table>


		</div>



		
		<div class="info-container col s2">
			<div class="info">
						
				<ul class="tabs ">
						<li class="tab col s7"><a class="active" href="#test1">Overview</a></li>
						<li class="tab col s5"><a  href="#test2">Info</a></li>
				</ul>
					<div id="test1" class="col s12">
						Overview <br>
						<a class="waves-effect waves-light btn">S'inscrire</a>
					</div>
					<div id="test2" class="col s12">Info</div>

			</div>





		</div>





	</div>


	<!-- Load jquery -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		window.$ = window.jQuery = require('jquery')

	</script>
	<!-- Load meterialieze -->
	<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
	<!-- load datatables  -->
	<script src="node_modules/datatables/media/js/jquery.dataTables.js"></script>
	<!-- load socket.io -->
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>

	<script>
		var table
		$(document).ready(function () {
			
			$('.tabs').tabs({
				swipeable: true
			});
			$('textarea#msgtextarea').characterCounter();
		});

	</script>
	
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/main.js"></script>

















</body>

</html>
