<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>NIXMLimitHoldem</title>
	<link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="assets/css/app.css">


</head>

<body>
	<header>

		NIXMLimitHoldem
	</header>



	<div class="row" id="app">
		<!-- Chat on the left -->
		<div class="chat-container col s2">
			<div class="chat">
				<header>
					Global Chat
				</header>


				<div class="chatmessages">
					<ul id="messages">
						<!-- [Server] : Bienvenue sur le chat -->
						<li v-for="message in messages">{{message}}</li>
					</ul>
				</div>

				<form action="" method="post">

						<div class="input-field col s12">
								<input type="text" id="msgtextarea" class="materialize-textarea" data-length="140" required>
								<label for="msgtextarea">Message</label>
							  </div>
					<button class="waves-effect waves-light btn">Send</button>
			


				</form>
			</div>
		
		
		
		</div>
		<div class="servers col s4 m8">

			<header>Local Servers</header>

			<table>
				<thead>
					<tr>
						<th v-for="column in tablefields"> <label>
								<label>
										<input name="group1" type="radio" v-model="picked" v-bind:value="column.field" />
										<span>{{column.name}}</span>
								</label>
			
							</tr>




				</thead>

				<tbody>
					<tr v-for="server in sortedServers" v-on:click="selectserver(server)">
						
						<td>{{server.Start}}</td>
						<td>{{server.Name}}</td>
						<td>{{server.Owner}}</td>
						<td>{{server.GameMode}}</td>
						<td>{{server.Price}}€</td>
						<td>{{server.Dotation}}€</td>
						<td>{{server.Players}}</td>
						<td>{{server.Status}}</td>
						
					</tr>
					




				</tbody>
			</table>


		</div>



		
		<div class="info-container col s2">
			<div class="info grey lighten-3" v-if="selectedserver">
						
				<ul class="tabs ">
					<li class="tab col s7"><a  	   href="#tab1">Overview</a></li>
					<li class="tab col s5"><a  	   href="#tab2">Info</a></li>
				</ul>
					
					<div id="tab2" class="col s12">
						<ul>
								<li>{{selectedserver.Start}}</li>
								<li>{{selectedserver.Name}}</li>
								<li>{{selectedserver.Owner}}</li>
								<li>{{selectedserver.GameMode}}</li>
								<li>{{selectedserver.Price}}</li>
								<li>{{selectedserver.Dotation}}</li>
								<li>{{selectedserver.Players}}</li>
								<li>{{selectedserver.Status}}</li>
						</ul>
					</div>
					<div id="tab1" class="col s12">
							{{selectedserver.Name}}
							<a class="waves-effect waves-light btn">S'inscrire</a>
						</div>

			</div>





		</div>





	</div>


	<!-- Load jquery -->
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		window.$ = window.jQuery = require('jquery')

	</script>
	<!-- Load meterialieze -->
	<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
	
	<!-- load socket.io -->
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>

	<script src="assets/js/vue.js"></script>
	<script src="assets/js/main.js"></script>

















</body>

</html>
