.servers tbody tr:hover{
    background-color: rgb(66, 66, 66);
    color:whitesmoke;
}
.servers{
  
    border: 10px solid dark;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
    background-color: whitesmoke;
}

.servers table tbody{
    max-height: 50vh;
    overflow:scroll;
}

body{
    background-image: url("../../image/background.jpg");
}




.chat{
    background-color: gray;
    padding: 10px;
}
.chat .chatmessages{
    height: 60vh;
    overflow: auto;
  
}

.chat textarea{
    max-height: 15vh;
    height:15vh;
    overflow: auto;
}
.chat-container{
    padding: 0px 10px 0px 10px;
}

.info .tabs .tab a{
    font-size:1vw !important;
}











/*Secollbarr*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #9b9b9b; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.658); 
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c62828; 
}
/*--Secollbarr*/
