<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	<link rel="stylesheet" href="../node_modules/material-design-icons/iconfont/material-icons.css">
	<link rel="stylesheet" href="assets/css/app.css">


</head>

<body>

	<div class="navbar-fixed">
		<nav class="z-depth-0">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo "> <img src="./image/NIXML.png" alt="">       </a>
				<a href="#" class="brand-logo center">    NXMLimitHoldem  </a>
				<ul class="right">
					<li><a id="minimize" href="#!"><i class="material-icons">remove</i></a></li>
					<li><a id="maximize" href="#!"><i class="material-icons">fullscreen</i></a></li>
					<li><a id="close" href="#!"><i class="material-icons">clear</i></a></li>
				</ul>
			</div>
		</nav>
	</div>












	<div class="row" id="app">
		<!-- Chat on the left -->
		<div class="chat-container col s2">
			<div class="chat">
				<header>
					Global Chat
				</header>


				<div class="chatmessages">
					<ul id="messages">
						<!-- [Server] : Bienvenue sur le chat -->
						<li v-for="message in messages">{{message}}</li>
					</ul>
				</div>

				

						<div class="input-field col s12">
								<input type="text" id="msgtextarea" class="materialize-textarea" data-length="140" v-model="message" v-on:keyup.enter="sendmessage()">
								<label for="msgtextarea">Message</label>
							  </div>
					<button class="waves-effect waves-light btn" v-on:click="sendmessage()">Send</button>
			


				</form>
			</div>
		
		
		
		</div>
		<div class="servers col s4 m8">

			<header>Local Servers</header>

			<table>
				<thead>
					<tr>
						<th v-for="column in tablefields"> <label>
								<label>
										<input name="group1" type="radio" v-model="picked" v-bind:value="column.field" />
										<span>{{column.name}}</span>
								</label>
			
							</tr>




				</thead>

				<tbody>
					<tr v-for="server in sortedServers" v-on:click="selectserver(server)" v-bind:class="{selectedserver : isSelected(server)}">
						
						<td>{{server.Start}}</td>
						<td>{{server.Name}}</td>
						<td>{{server.Owner}}</td>
						<td>{{server.GameMode}}</td>
						<td>{{server.Price}}€</td>
						<td>{{server.Dotation}}€</td>
						<td>{{server.Players}}</td>
						<td>{{server.Status}}</td>
						
					</tr>
					




				</tbody>
			</table>


		</div>



		
		<div class="info-container col s2">
			<div class="info grey lighten-3" v-if="selectedserver">
						
				<ul class="tabs ">
					<li class="tab col s7"><a  	   href="#tab1">Overview</a></li>
					<li class="tab col s5"><a  	   href="#tab2">Info</a></li>
				</ul>
					
					<div id="tab2" class="col s12">
						<ul>
								<li>Heure de début : {{selectedserver.Start}}</li>
								<li>Nom du serveur : {{selectedserver.Name}}</li>
								<li>Propriétaire   :{{selectedserver.Owner}}</li>
								<li>Mode de jeu    :{{selectedserver.GameMode}}</li>
								<li>Buy-in         :{{selectedserver.Price}}</li>
								<li>Dotation       :{{selectedserver.Dotation}}</li>
								<li>Joueurs        :{{selectedserver.Players}}</li>
								<li>Statut         :{{selectedserver.Status}}</li>
						</ul>
					</div>
					<div id="tab1" class="col s12">
							{{selectedserver.Name}}
							<button class="waves-effect waves-light btn" id="js-play">S'inscrire</button>
						</div>

			</div>





		</div>





	</div>


	<!-- Load jquery -->
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script>
		window.$ = window.jQuery = require('jquery')

	</script>
	<!-- Load meterialieze -->
	<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
	
	<!-- load socket.io -->
	<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>

	<script src="./assets/js/vue.js"></script>
	<script src="./assets/js/main.js"></script>

















</body>

</html>
